# HTTPS server

{{#ssl_hosts}}
server {
  listen               {{ip_addr}}:443;
  server_name          {{server_name}};
  ssl_certificate      {{nginx_etc_path}}/ssl-crt/{{file_name}}.crt;
  ssl_certificate_key  {{nginx_etc_path}}/ssl-key/{{file_name}}.key;
  include {{nginx_etc_path}}/ssl.conf;
  root    {{nginx_etc_path}}/document_root;
  try_files /503.html @gs_proxy;
  location @gs_proxy {
    proxy_pass https://groupsite-ssl;
  }
}

{{/ssl_hosts}}
# vim:ft=nginx
