# HTTPS server

{{#ssl_hosts}}
server {
  listen               {{ip_addr}}:443;
  server_name          {{server_name}};
  ssl_certificate      /etc/nginx/ssl-crt/{{file_name}}.crt;
  ssl_certificate_key  /etc/nginx/ssl-key/{{file_name}}.key;
  include {{nginx_etc_path}}/ssl.conf
  location / { proxy_pass http://groupsite-ssl/; }
}

{{/ssl_hosts}}
# vim:ft=nginx
