# vim:ft=nginx
user {{user}};
worker_processes 12;

error_log  {{nginx_log_path}}/error.log;
pid        {{nginx_pid_path}};

events {
    worker_connections  1024;
    # multi_accept on;
}

http {
    include    {{nginx_etc_path}}/mime.types;

    access_log {{nginx_log_path}}/access.log;

    include    {{nginx_etc_path}}/conf.d/*.conf;
    include    {{nginx_etc_path}}/sites-enabled/*.conf;
}
